<div class="container">
  <h1>A propos</h1>
  <p> Cette application permet de convertir une devise d'entrée en une devise de sortie.</p>
  <p>Par exemple convertir 1euro en XAF, USD, etc...</p>
  <p>Nous avons fait usage de l'API <a href="https://exchangeratesapi.io/" target="_blank">https://exchangeratesapi.io/</a> pour mettre à jour les devises car celles-ci devises varient à chaque instant</p>
<p>Malheureusement toutes les API que nous avons tenté d'utiliser son payante et par consequent, l'on ne peut que convertir de l'euro vers d'autres devises</p>
<p>Raison pour laquelle nous n'avons que la devise EUR en entrée</p>
<p>Cette application a été réalisée par <b>NYONGO GHISLAIN</b></p>

</div>
